.main{
    
    display: flex;         /* 横並びになる */
    height: 100vh;
}

.inputContainer{
    display: flex;
    flex: 1;
    flex-direction: column; /* ←縦並び */
    height: 100vh;
}
.FormContainer{
    display: flex;              /* 子をflexアイテムにする */
    justify-content: center;    /* 横方向の中央寄せ */
    align-items: center;        /* 縦方向の中央寄せ */
    flex:1;
    height: 100vh;
    margin-top: 10px;
}
/* 入力フォーム全体 */
.form {
  display: flex;
  color:#5D4037;
  flex-direction: column;
  width:70%;
  height: auto;
  gap: 1rem;
  padding: 10px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}

/* ラベル */
.label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color:#5D4037;
}

/* セレクトとインプット共通 */
.input {
  color:#5D4037;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  font-size: 1rem;
  margin-top: 4px;
}
.countInputContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.unit {
  font-size: 16px;
  margin-left: 4px;
}

.memoryContainer{
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column; /* ←縦並び */
}
.eggMemoryContainer h3 {
  position: sticky;
  top: 0;
  background: white;
  z-index: 3;
  padding: 10px 0;
}
.eggMemoryContainer{
    flex:1;
    display: flex;              /* 子をflexアイテムにする */
    flex-direction: column; /* ←縦並び */ 
    overflow-y: auto;  /* ここでスクロール */
    color:#5D4037;
    margin-bottom: 20px;
    margin-top: 10px;
    
}
.deathMemoryContainer{
    flex:1;
    display: flex;              /* 子をflexアイテムにする */
    flex-direction: column; /* ←縦並び */
    overflow-y: auto;  /* ここでスクロール */
    color:#5D4037;
    margin-bottom: 20px;
}
.memoryTable{
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing:0;
    overflow: hidden;
}

.tableHeader {
  background-color: #f2f2f2;
}

.tableHeader th {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ddd;
  color:#5D4037;
}

.tableRow {
  border-bottom: 1px solid #eee;
}

.tableRow:nth-child(even) {
  background-color: #fcfcfc;
}

.tableRow td {
  padding: 12px;
  vertical-align: top;
  color:#5D4037;
}

/* 画面幅が600px以下のスマホ用 */
@media (max-width: 600px) {
  .main {
    flex-direction: column;   /* 横 → 縦にする */
    height: auto;
  }

  .inputContainer {
    height: auto;
  }

  .memoryContainer {
    height: auto;
  }

  .FormContainer {
    height: auto;
    padding: 10px 0;
  }
  .form {
    width: auto;
  }
}