/*src/app/web/environment*/

/* 鶏舎番号セレクター */
.selector {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.label {
  font-weight: bold;
  color:#5D4037;
}

.select {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 4px 12px;
  color:#5D4037;
}

/* センサー情報カード */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 24px;
}

.card {
  border-radius: 16px;
  padding: 24px;
  text-align: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.cardTitle {
  color:#5D4037;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.cardValue {
  font-size: 36px;
  font-weight: bold;
}

.cardUnit {
  color:#5D4037;
  font-size: 16px;
}

/* 各カードの色分け */
.temp {
  border: 2px solid #f87171; /* 赤 */
  background-color: #fee2e2;
}

.humidity {
  border: 2px solid #4ade80; /* 緑 */
  background-color: #dcfce7;
}

.water {
  border: 2px solid #facc15; /* 黄 */
  background-color: #fef9c3;
}

/* カメラ部分 */
.cameraBox {
  max-width: 100%; /* 画面幅の 90% */
  min-height: 100px;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.cameraStatus {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  color:#5D4037;
}

.cameraImage {
  max-width: 400px; /* PC画面に収まるサイズ */
  width: 100%; /* 横幅いっぱいまで拡大可 */
  height: auto; /* アスペクト比維持 */
  border-radius: 12px;
  object-fit: cover;
  display: block;
  margin: 0 auto; /* 中央揃え */
}

/* 画面幅が600px以下のスマホ用 */
@media (max-width: 600px) {
  .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 24px;
  }
  .cardValue {
    font-size: 20px;
    font-weight: bold;
    color:#5D4037;
  }
}