/*src/components/styles/common.module.css*/
/*よく使うスタイル
  ・タイトル
  ・インフォメーションボックス
  ・ボタン
*/

/* ページ全体のスタイル */
.container {
  --color-text: #5D4037;

  padding: 10px;
  background-color: #ffffff; 
  max-width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Arial',Helvetica, sans-serif;
}

.title {
  color: var(--color-text);
  margin-bottom: 10px;
  padding-bottom: 8px; 
  font-size: 24px;
  font-weight: 800;
  position: relative; 
}
.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px; /* 線の太さ */
  background: linear-gradient(90deg, #ffeb33, #ff9900); /* 黄色→オレンジのグラデ */
  border-radius: 2px; /* 丸みを少しつける場合 */
}

.infoBox {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #FFFFF0; 
  border: 1px solid #FDD835;
  border-radius: 4px;
  color: var(--color-text);
  font-size: 13px;
  flex-shrink: 0; 
}

.buttonContainer {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: center;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 10px 50px; /* 左に丸分のスペース確保 */
  border-radius: 100px;
  background-color: #ffffff; 
  border: 3px solid transparent; /* 枠の太さ */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  position: relative;
  font-weight: bold;
  font-size: 15px;
  color: var(--color-text);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
/* 左の黄色丸 */
.button::after {
  content: "";
  position: absolute;
  left: 3px;       /* 左端からの位置 */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #fffc33, #ff9900);
  /* 円形グラデーション: 中心に黄色、外側にオレンジ */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;      /* 文字より前面に */
}

.button:hover {
  background-image: linear-gradient(90deg, #ffeb33, #ff9900), /* 内側を黄色っぽく */
                    linear-gradient(90deg, #ffeb33, #ff9900); /* ボーダーはそのまま */
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

/* 押したとき */
.button:active {
  transform: translateY(2px); /* 少し下に押す */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 影を小さく */
}
